body {
	min-height: 100vh;
}

button {
	outline: none !important;
}

a {
	outline: none !important;
}

input {
	outline: none !important;
}

.bg-default {
	background-image: url('../img/all_bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.h-100vh {
	min-height: 100vh;
}

.start-screen {
	background-image: url('../img/start_bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.btn-primary_bnb {
	background-color: #6D0B44;
}

.btn-secondary_bnb {
	background-color: #956578;
}

.btn-osk {
	background-color: #210133;
}

.btn-osk_powiadomienia {
	background-color: #565A7D;
}

.btn-osk_ins_teori {
	background-color: #440034;
}

.btn-osk_ins_praktyki {
	background-color: #0B596D;
}

.btn-usun {
	background-color: transparent;
	border: 2px solid #0B596D;
	color: #0B596D !important;
}

.btn-usun:hover {
	color: #fff !important;
	background-color: #0B596D;
}

.btn_bnb {
	border-radius: 24px;
	border: none !important;
	margin-top: 22px;
	min-height: 48px;
	width: 100%;
	color: #fff !important;
}

.btn_bnb:hover {
	box-shadow: inset 0px 0px 14px -4px rgba(184,68,135,1);
}

.start-screen >.content_box {
	max-width: 600px;
}

.w-80 {
	min-width: 80%;
}

.back_button {
	height: 30px;
	width: 30px;
	background: transparent;
	background-image: url('../img/back.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.dropbtn {
  background: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30px;
    width: 30px;
}

.dropdown_padding {
	background-color: #fff;
  	min-width: 160px;
  	max-width: 200px;
  	padding-left: 5px;
  	padding-right: 5px;
  	border-radius: 10px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 60px;
  z-index: 3;
}

.dropdown-content > a {
	border-bottom: 1px solid #8a8a8a;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(1) {
	border-radius: 10px 10px 0 0;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background: transparent;}

.dropdown:focus {
	outline: none;
}

.dropbtn:focus {
	outline: none;
}

.empty {
	background: none;
	height: 30px;
	width: 30px;
}

.logo_nav > img {
	height: 80px;
	width: 80px;
}

.logo_nav_big > img {
	height: 200px;
	width: 200px;
}

.border_top_radius {
	border-radius: 30px 30px 0 0;
}

.border_radius {
	border-radius: 30px;
}


.content_box {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}


.form_input {
	border: none;
	border-bottom: 1px solid #A1A1A1;
	width: 100%;
	color: #686868;
	background: transparent;
}

.text-secondary {
	color: #8E8E8E !important;
}

.form_input:focus {
	outline: none;
}

.text-alert {
	color: red;
}

.w-100-m {
	width: 100%;
	max-width: 600px;
}

form.wyloguj > input {
	background: transparent;
	border: none;
}

.navbar {
	position: fixed;
	background: #210133;
}

.mt_60 {
	margin-top: 70px;
}

.h-100-custom {
	min-height: calc(100% - 70px);
}

.h-100-custom2 {
	min-height: calc(100% - 88px);
}

.h-100 {
	min-height: 100vh !important;
}

.h-100p {
	height: 100%;
}

.screen-title {
	font-weight: 300;
	border-bottom: 1px solid #8E8E8E;
	width: 80%;
	margin-bottom: 20px !important;
}

.text-primary {
	color: #CB81A4 !important;
}

.text-light {
	font-weight: 300;
}


/*Kursant*/


.start-screen-kursant {
	background-image: url('../img/kursant/start_bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.start-screen-kursant-absolwent {
	background-image: url('../img/kursant/abs_bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.dane-konto {
	border-bottom: 1px solid #8E8E8E;
	padding-left: 10px;
	padding-right: 10px;
}

.hr {
	border-bottom: 20px solid #8E8E8E;
}


.czat_input {
	min-height: 48px;
	border: none;
	width: 85%;
	background: transparent;
	padding-left: 15px;
	outline: none;
	padding-top: 11px;
	font-size: 16px;
}

.btn-send {
	width: 25%;
	background-color: #6D0B44;
	min-height: 48px;
	border: none;
	color: #fff;
	border-radius: 24px;
}

.czat_input_block {
	position: fixed;
	bottom: 0;
	width: 90%;
}

.czat_form {
	border-radius: 24px !important;
	background: #C9BFC5;
}

.wiadomosc {
	margin-top: 10px;
	padding: 30px 30px 30px 30px;
}

.czat_window {
	overflow: auto;
	height: calc(100vh - 200px);
}

.powiadomienia_window {
	overflow: auto;
	height: calc(100vh - 140px);
}

.inbox {
	border-radius: 60px 60px 60px 0;
	background: #BFBFBF;
	color: #fff;
}

.inbox_powiadomienia {
	border-radius: 60px 60px 60px 60px;
	background: #BFBFBF;
	color: #fff;
}

.sendbox {
	border-radius: 60px 60px 0 60px;
	background: #E4E4E4;
	color: #8E8E8E;
}

.msg {
	margin-bottom: 0;
}

.inbox_container > .info_msg {
	text-align: left;
}

.powiadomienia_container > .info_msg {
	text-align: right;
}

.sendbox_container > .info_msg {
	text-align: right;
}

.position-fixed-bnb {
	position: fixed;
	z-index: 0;
}


.pb-0 {
	padding-bottom: 0 !important;
}



/*OSK*/

.bg-grey {
	background: #B1B1B1;
}

.start-screen-osk {
	background-image: url('../img/osk/start_bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.start-screen-instr {
	background-image: url('../img/instr/start_bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.btn-dezakt_bnb {
	background: #858585;
}

/*Admin*/

.start-screen-admin {
	background-image: url('../img/admin/start_bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.btn-usun {
	background-color: transparent;
	border: 2px solid #140B20 !important;
	color: #140B20 !important;
	transition: 1s all;
}

.btn-usun:hover {
	color: #fff !important;
	background-color: #140B20;
}